// Config -----------------------------------
@syntax-hue:          220;
@syntax-saturation:   24%;
@syntax-brightness:   17%;

// Monochrome -----------------------------------
@mono-1:	hsl(221, 31%, 74%);
@mono-2:	hsl(215, 28%, 59%);
@mono-3:	hsl(216, 25%, 42%);

// Colors -----------------------------------
@hue-1:   hsl(182, 92%, 64%);  // <- cyan
@hue-2:   hsl(213, 99%, 72%);  // <- blue
@hue-3:   hsl(278, 83%, 79%);  // <- purple
@hue-4:   hsl(140, 88%, 69%);  // <- green
@hue-5:   hsl(354, 73%, 65%);  // <- red
@hue-5-2: hsl(354, 90%, 64%);  // <- red 2
@hue-6:   hsl( 31, 72%, 71%);  // <- orange
@hue-6-2: hsl( 57, 100%, 81%); // <- yellow

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: hsl(@syntax-hue, 100%, 66%);
