{% block page_content %}
	<h1>{{title}}</h1>

<div width="90%">

    <form method="POST" id="save_action">
        {{ form.hidden_tag() }}

        <p>
            {{ form.description.label }}<br>
            {{ form.description }}
        </p>


        <p>
            {{ form.action_type.label }}<br>
            {{ form.action_type }}
        </p>


        <p>
            {{ form.spec.label }}<br>
            {{ form.spec }}
        </p>


        <p>
            {{ form.tokens.label }}<br>
            {{ form.tokens }}
        </p>


        <p>
            {{ form.method.label }}<br>
            {{ form.method }}
        </p>


        <p>
            {{ form.parser.label }}<br>
            {{ form.parser }}
        </p>


        <p>
            {{ form.run_async.label }}<br>
            {{ form.run_async }}
        </p>

        <button type="button" class="btn btn-primary">{{ form.submit() }}</button>
    </form>



</div>
{% endblock %}
