{% import "bootstrap/wtf.html" as wtf %}
{% import "brand/brand.html" as brand %}
{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %} lang="en" {% endblock html_attribs %}>
{%- block html %}

<head>

    {%- block head %}
    <title>{% block title %}Coral Services{% endblock title %}</title>

    {%- block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <link href="/static/fuelux/3.6.3/css/fuelux.min.css" rel="stylesheet">
    <link href="/static/datatables/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ current_user.theme }}" rel="stylesheet" media="screen">
    <link href="/static/css/coral-services.css" rel="stylesheet" media="screen">
    {%- endblock styles %}

    {%- endblock head %}

</head>

<body {% block body_attribs %} class="fuelux" {% endblock body_attribs %}>

    {% block body -%}

    {% block navbar %}
    <div class="navbar navbar-light bg-faded navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{ brand.brand() }}
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills">
                    <li><a style="padding-top:19px" href="/">Coral Services</a>
                    </li>
                    <li><a href="{{ url_for('home.index') }}"><span class="fa fa-code-fork fa-2x fa-fw"></span>{{ "Version "|append_version }}</a>
                    </li>

                    <li><a href="{{ url_for('systemsettings.index') }}" id="system_settings"><span class="fa fa-cogs fa-2x fa-fw"></span> System Settings</a></li>
                    <li><a href="{{ url_for('systemtasks.systemtasks_table') }}"><span class="fa fa-tasks fa-2x fa-fw" id="system_tasks"></span> System Tasks</a></li>
                    {% if current_user.is_authenticated() %}
                    <div class="dropdown">
                        <li role="presentation" class="dropdown navbar-right">
                            <a class="btn text-right dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="fa fa-user fa-2x"></span> {{ current_user.username }} <span class="fa fa-caret-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a id="Logout"><i class="fa fa-arrow-circle-o-left fa-fw"></i> Logout</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('users.edit_profile') }}"><i class="fa fa-edit fa-fw"></i> Edit Profile</a></li>
                            </ul>
                        </li>
                    </div>
                    {% else %}
                    <li role="presentation" class="navbar-right">
                        <a class="btn" href="{{ url_for('users.login') }}"><i class="fa fa-user fa-fw"></i> Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>
    <!--/.navbar -->
    <div class="row-offcanvas row-offcanvas-left">
        <div id="sidebar" class="sidebar-offcanvas">

            <div class="col-md-12 navbar">
                <ul class="nav nav-pills nav-stacked">

                    <li>
                        <a href="/flower/" target="_blank">
                            <h4 class="list-group-item-heading text-capitalize">
                                <span class="fa fa-microchip"></span> Celery Workers</h4>
                        </a>
                    </li>

                    <li>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6-lg">
                                            <a href="/dev/jupyter-notebook/tree" target="_blank">
                                                <h4 class="list-group-item-heading text-capitalize">
                                                    <span class="fa fa-folder"></span> Jupyter Notebooks</h4>
                                            </a>
                                        </div>
                                        <div class="col-6-lg">
                                            <a href="/dev/jupyter-notebook/lab" target="_blank">
                                                <h4 class="list-group-item-heading text-capitalize">
                                                    <span class="fa fa-flask"></span> Jupyter Lab</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6-lg">
                                            <a href="/logio/" target="_blank">
                                                <h4 class="list-group-item-heading text-capitalize">
                                                    <span class="fa fa-list-alt"></span> Log.io</h4>
                                            </a>

                                        </div>
                            </li>

                            <li>
                                <div class="col-6-lg">
                                    <a href="/flask-profiler/" target="_blank">
                                        <h4 class="list-group-item-heading text-capitalize">
                                            <span class="fa fa-list"></span> Flask Profiler</h4>
                                    </a>
                                </div>
                            </li>
                        </ul>
            </div>
        </div>
        </li>

        <li>
            <a href="{{ url_for('inventory.inventory_table') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-barcode "></span> Inventory</h4>
            </a>
        </li>


        <li>
            <a href="{{ url_for('tasks.index') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-tasks "></span> Tasks</h4>
            </a>
        </li>

        <li>
            <a href="{{ url_for('callbacks.callbacks_table') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-code "></span> Callbacks</h4>
            </a>
        </li>

        <li>
            <a href="{{ url_for('apps.index') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-rocket"></span> Apps</h4>
            </a>
        </li>

        <li>
            <a href="{{ url_for('templatepacks.index') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-briefcase "></span> Template Packs</h4>
            </a>
        </li>

        <li>
            <a href="{{ url_for('tags.tags_table') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-tags "></span> Tags</h4>
            </a>
        </li>


        <li role="separator" class="divider"></li>


        <li>
            <a href="{{ url_for('users.user_table') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-users "></span> Users</h4>
            </a>
        </li>

        <li>
            <a href="{{ url_for('credentials.credentials_table') }}">
                <h4 class="list-group-item-heading"><span class="fa fa-lock"></span> Credentials
                </h4>
            </a>
        </li>

        <li>
            <a href="{{ url_for('ssh_keys.ssh_keys_table') }}">
                <h4 class="list-group-item-heading"><span class="fa fa-key"></span> SSH Keys</h4>
            </a>
        </li>


        <li>
            <a href="{{ url_for('devices.inventory_table') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-cube "></span> Device Classes</h4>
            </a>
        </li>


        <li>
            <a href="{{ url_for('proxy.inventory_table') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-server "></span> Proxies</h4>
            </a>
        </li>


        <li>
            <a href="{{ url_for('logs.index') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-list-alt "></span> Logs</h4>
            </a>
        </li>

        <li>
            <a href="{{ url_for('customhandler.index') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-globe "></span> Custom Handlers</h4>
            </a>
        </li>

        <li>
            <a href="{{ url_for('packages.index') }}">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-archive"></span> Packages</h4>
            </a>
        </li>



        <li>
            <a href="/docs/index.html" target="_blank">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-folder"></span> User Guide</h4>
            </a>
        </li>
        <li>
            <a href="/developer-docs/index.html" target="_blank">
                <h4 class="list-group-item-heading text-capitalize"><span class="fa fa-folder"></span> Developer Guide</h4>
            </a>
        </li>

        </ul>
    </div>
    </div>
    {%- endblock navbar %}

    {% block content -%}
    <div id="main">
        <div class="container-fluid">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <p>
                <div class="alert alert-{{ category }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        &times;
                    </button>
                    {{ message }}
                </div>
            </p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-12">
            <p class="visible-xs">
                <a href="#" data-toggle="offcanvas"><span class="fa fa-chevron-left fa-fw"></span></a>
            </p>
            <p></p>
            <ol class="breadcrumb">
                {% block breadcrumb %}
                <li><a href="{{ url_for('home.index') }}">Home</a></li>
                {% endblock breadcrumb %}
            </ol>
            {% block page_content %}
            {% endblock page_content %}
        </div>
    </div>
    </div>
    <!--/row-offcanvas -->
    {%- endblock content %}

    {% block scripts %}
    <script src="/static/js/jquery.min.js"></script>
    {# <script type="text/javascript" src="//sanoc-jira.cisco.com/s/38f11f933273113dfbb8d81469da6e22-T/en_US-5x8v4h/6329/19/1.4.13/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=d338e6da"></script>#}
    {# <script>
        #} {#
            $(document).ready(function() {#} {#
                        $('[data-toggle=offcanvas]').click(function() {#} {#
                            $('.row-offcanvas').toggleClass('active');#
                        } {#});#
                    } {#
                        window.ATL_JQ_PAGE_PROPS = {#} {#
                            "triggerFunction": function(showCollectorDialog) {#} {# //Requries that jQuery is available!#}
                                {#
                                    jQuery("#feedback-button").click(function(e) {#} {#
                                        e.preventDefault();#
                                    } {#
                                        showCollectorDialog();#
                                    } {#});#
                                } {#}
                            };#
                        } {#});#
                } {#
    </script>#}

    <script>
        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        $('#Logout').click(function(e) {
            console.log("Logging out");
            $.ajax({
                type: 'POST',
                url: "{{ url_for('users.logout') }}",
                success: function(data) {
                    window.location = data;
                }
            });

        });
    </script>

    <script src="/static/js/bootstrap-3.3.5/bootstrap.min.js"></script>
    <script src="/static/fuelux/js/fuelux3.4.0/js/fuelux.min.js"></script>
    <script src="/static/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/datatables/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="/static/js/fileinput.min.js" type="text/javascript"></script>
    <script src="/static/js/bootbox.min.js" type="text/javascript"></script>
    {%- endblock scripts %}

    {%- endblock body %}
</body>

{%- endblock html %}

</html>

{% endblock doc -%}
