{% block page_content %}
	<h1>{{title}}</h1>

{% if parsed_yaml %}
<div class="container-fluid">
<div class="card-deck">
<div class="card">
<div class="card-body text-center">
<table class="table table-striped">
    {% for k,v in parsed_yaml.items() %}
        <tr>
            <th>{{ k }}</th>
            <td>{{ v }}</td>
        </tr>
    {% endfor %}
</table>
</div>
</div>
</div>
</div>
{% elif count %}
<div class="container-fluid">
<div class="card-deck">
<div class="card">
    <div class="card-title">
    <strong> Successfully Uploaded {{ count }} Files: </strong>
    </div>
    {% if filenames %}
    <div class="card">
        <div class="card-body">
        <ul>
            {%- for fname in filenames -%}
                <li class="card-text"><strong>{{ fname }}</strong></li>
            {% endfor %}
        </ul>
        </div>
    </div>
    {% endif %}
    <div class="card-body">
        <p class="card-text"><strong>Example data received: </strong></p>
        {%- for item in example -%}
            {{ item }}
        {% endfor %}
    </div>
</div>
</div>
</div>
{% else %}
<div class="container-fluid">
<div class="row">
<div class="col-xl-8">
<div class="card-deck">
<div class="card-outline-primary">

<div class="card-block">
    <h4 class="card-title"><i class="fa fa-bank fa-md fa-border"></i>
    <strong>Upload Individual YAML Files or a single Zip/Tarball containing YAML Files: </strong><small> </small>
    </h4>
      <!-- Standard Form -->
      <p class="card-text"><small><em>Select files from your computer</em></small></p>
      <form action="/coralapp/tes/import_update" method="post" enctype="multipart/form-data" id="js-upload-form">
        <div class="form-horizontal">
          <div class="form-group">
                <!-- <div class="custom-file">
                    <input  class="custom-file-input" type="file" name="files[]" id="multifile" multiple>
                    <label class="custom-file-label" for="multifile">Choose file(s):</label>
                </div> -->
              <div class="card-outline-secondary">

                    <fieldset>
                        <legend> Import Actions or Enrichments </legend>
                        <div class="card-deck">
                            <div class="card btn-secondary">
                                <label class="form-control-label text-lg-center" for="action">
                                <i class="fa fa-paperclip fa-fw"></i><strong>Proper YAML Format Required </strong></label>
                                <input class="card-header-pills" type="hidden" name="collection" id="action" value="Action" checked>



                            <div class="card-footer">
                                <input class="form-control-file border" type="file" name="files[]" id="multifile" accept=".yml, .yaml, .json, .gz, .tar, .zip" multiple>
                                <label for="multifile"><i class="fa fa-file-code-o"></i><strong> Choose file(s):</strong></label>
                            </div>
                        </div>
                        </div>
                    </fieldset>


              </div>
              <div class="button-group">
                  <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit"> Upload Files</button>
                  <button type="reset" class="btn btn-sm btn-default"> Clear Queue</button>
              </div>

        </div>
      </div>
      </form>
      <!-- End Standard Form -->
    </div>
    </div>
</div><!-- card-outline secondary -->
</div><!-- col end -->
</div>
</div><!-- /container -->
{% endif %}
{% endblock %}
