
{% block page_content %}
	<h1>{{title}}</h1>

{% if parsed_yaml %}
<div class="container-fluid">
<div class="card-deck">
<div class="card">
<div class="card-body text-center">
<table class="table table-striped">
    {% for item in parsed_yaml %}
    <tr>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</div>
</div>
{% elif count %}
<div class="container-fluid">
<div class="card-deck">
<div class="card">
    <div class="card-title">
    <strong> Successfully Uploaded {{ count }} Files </strong>
    </div>
</div>
</div>
</div>
{% else %}
<div class="container-fluid">
<div class="row">
<div class="col-6-lg">
<div class="card-deck">
<div class="card">
    <div class="card-title">
    <strong>Upload Files: </strong> <small> Yaml or Json are accepted</small>
    </div>
      <!-- Standard Form -->
      <p class="card-text"><strong>Select files from your computer</strong></p>
      <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
        <div class="form-horizontal">
          <div class="form-group">
                <!-- <div class="custom-file">
                    <input  class="custom-file-input" type="file" name="files[]" id="multifile" multiple>
                    <label class="custom-file-label" for="multifile">Choose file(s):</label>
              </div> -->

              <input  class="form-control-file border" type="file" name="files[]" id="multifile" multiple>
              <label for="multifile">Choose file(s):</label>

          </div>
          <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit"> Upload Files</button>
        </div>
      </form>
      <!-- End Standard Form -->
    </div>
    </div>
</div><!-- col end -->
</div>
  </div><!-- /container -->
{% endif %}
{% endblock %}
