{% block styles %}
{{ super() }}
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
{% endblock %}

{% block page_content %}
	<h1>{{title}}</h1>

    <div class="container-fluid">
        {% if form %}
        {{ form.files }}
        {{ form.name }}
        {% else %}
        <!-- Standard Form Single File -->
        <form action="" method="post" enctype="multipart/form-data" id="js-upload-form_single">
            <div class="form-inline">
                <div class="form-group">
                    <input type="file" name="files" id="js-upload-file" multiple>
                     <label title="Name" for="js-upload-name">Name: </label><input type="text" name="name" id="js-upload-name" multiple>
                </div>
                <button type="submit" class="btn btn-md btn-info" id="js-upload-submit_single"> Upload Single File</button>
            </div>
        </form>
        <!-- End Standard Form Single File -->
        {% endif %}
    </div>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
    <strong>Upload Files</strong> <small>Bootstrap files upload</small>
    </div>
    <div class="panel-body">

      <!-- Standard Form -->
      <h4>Select files from your computer</h4>
      <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
        <div class="form-horizontal">
          <div class="form-group">
            <input type="file" name="files[]" id="js-upload-files" multiple>
                <label title="Name" for="js-upload-name_2">Name: </label>
                <input type="text" name="name" id="js-upload-name_2" multiple>
          </div>
          <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit"> Upload Files</button>
        </div>
      </form>
      <!-- End Standard Form -->

      </div>
    </div>
  </div><!-- /container -->

{% endblock %}
