
{% block page_content %}
	<h1>{{title}}</h1>

{% if parsed_yaml %}
<table class="table table-striped">
    {% for item in parsed_yaml %}
    <tr>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
</table>
{% elif count %}
<div class="container-fluid">
<div class="card-deck">
<div class="card">
    <div class="card-title">
    <strong> Successfully Uploaded {{ count }} Files </strong>
    </div>
</div>
</div>
</div>
{% else %}
<div class="container-fluid">
<div class="card-deck">
<div class="card">
    <div class="card-title">
    <strong>Upload Files: </strong> <small> Yaml or Json are accepted</small>
    </div>
    <div class="card-body text-center">

      <!-- Standard Form -->
      <p class="card-text">Select files from your computer</p>
      <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
        <div class="form-horizontal">
          <div class="form-group">
                <div class="custom-file">
                    <input  class="custom-file-input" type="file" name="files[]" id="multifile" multiple>
                    <label class="custom-file-label" for="multifile">Choose file(s): </label>
                  </div>
                <label title="Name" for="js-upload-name_2">Name: </label>
                <input class="form-control" type="text" name="name" id="js-upload-name_2" multiple>
          </div>
          <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit"> Upload Files</button>
        </div>
      </form>
      <!-- End Standard Form -->

      </div>
    </div>
    </div>
  </div><!-- /container -->
{{% enfif %}
{% endblock %}
