{% block styles %}
{{ super() }}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
{% endblock %}

{% block page_content %}
<a class="btn btn-dark btn-md" href='/coralapp/tes/app_settings' role="button">
    <span><i class="fa fa-fw fa-cogs"></i> Settings </span>
</a>
<div class="container-fluid">
    <div class="card-deck">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <h2 class="card-title"><span class="fa-li"><i class="fa fa-key fa-md fa-pull-left fa-border"></i></span> Install Em7 Synchronization Components</h2>
                    <ul class="fa-ul">
                <li class="card-link"><span class="fa-li"><i class="fa fa-check-square"></i></span><a href="/coralapp/tes">Main Home</a></li>
                        <li class="card-link"><span class="fa-li"><i class="fa fa-check-square"></i></span><a href="/coralapp/tes/temporary_homepage">LogView</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
            <div class="card">
            <h3 class="card-title"><span class="fa-li"><i class="fa fa-bank fa-md fa-pull-left fa-border"></i></span> Update TES Engine Catalog</h3>

            <div class col-md-8 pull-left>
            <form method="post" action="/coralapp/tes/import_file" enctype="multipart/form-data">
                <div>
                    <fieldset>
                        <legend>Import File Type of Choice choice to load your new Enrichment</legend>
                        <label for="yaml">YAML</label>
                        <p><input type="radio" name="file_type" id="yaml" value=".yml"></p>
                        <label for="json">JSON</label>
                        <p><input type="radio" name="file_type" id="json" value=".json"></p>
                    </fieldset>
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </form>
            <div class="row">
            <div class col-md-6>
            <form id="actionupload">
            <div class="button pull-right">
                <li>
                    <span class="fa-li"><i class="fa fa-md fa-file fa-pull-right fa-border"></i></span>
                    <label for="action_uploads"> Choose a serialized file format of preference to Load</label>
                    <input type="file" id="action_uploads" name="action_uploads" accept=".yml, .yaml, .json">
                </li>
            </div>
            </form>

            </div>
            </div>
            <div class col-md-6>
            <form id="enrichmentupload">
            <div class="button pull-right">
                <li>
                    <span class="fa-li"><i class="fa fa-md fa-file fa-pull-right fa-border"></i></span>
                    <label for="enrichment_uploads"> Choose a serialized file format of preference to Load</label>
                    <input type="file" id="enrichment_uploads" name="enrichment_uploads" accept=".yml, .yaml, .json">
                </li>
            </div>
            </form>

            </div>
            </div>
            </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="card">
                <h3 class="card-title"><span class="fa-li"><i class="fa fa-flask fa-md fa-pull-left fa-border"></i></span> Access Frontend Developer Tools TED</h3>
                        <ul class="fa-ul">
                            <li class="card-link"><span class="fa-li"><i class="fa fa-check-square"></i></span><a href="/coralapp/ted" title="Link to TED tool">TED</a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="preview_upload">
                <p>No files currently selected for upload</p>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
    {{ super() }}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        let fileTypes = [
            'application/json',
            'application/x-yaml',
            'text/yaml'
            ];

        let file_upload = $('#action_uploads')[0].files[0];
        let fileName = 'SomeActionname.yml';
        function uploadFile(file_upload, fileName) {
            for(let i = 0; i < fileTypes.length; i++) {
                if(file_upload.type === fileTypes[i]) {
                    let fd = new FormData();
                    fd.append("fileToUpload", file_upload);
                            $.ajax({
                               url: "/coralapp/tes/import_file",
                               type: "POST",
                               data: fd,
                               filename: fileName,
                               processData: false,
                               contentType: 'multipart/form-data',
                               success: function(response) {
                                   alert('You did it, File uploaded ' + response)
                               },
                               error: function(jqXHR, textStatus, errorMessage) {
                                   console.log(errorMessage); // Optional
                               }
                            });
                    }
                }
        }
        uploadFile(file_upload, fileName);

        function returnFileSize(number) {
            if(number < 1024) {
                return number + 'bytes';
            } else if(number > 1024 && number < 1048576) {
                return (number/1024).toFixed(1) + 'KB';
            } else if(number > 1048576) {
                return (number/1048576).toFixed(1) + 'MB';
            }
        }
    </script>


    <script>
        let fileTypes = [
            'application/json',
            'application/x-yaml',
            'text/yaml'
            ];

        let file_upload = $('#enrichment_uploads')[0].files[0];
        let fileName = 'SomeEnrichmentname.yml';
        function uploadFile(file_upload, fileName) {
            for(let i = 0; i < fileTypes.length; i++) {
                if(file_upload.type === fileTypes[i]) {
                    let fd = new FormData();
                    fd.append("fileToUpload", file_upload);
                            $.ajax({
                               url: "/coralapp/tes/import_file",
                               type: "POST",
                               data: fd,
                               filename: fileName,
                               processData: false,
                               contentType: 'multipart/form-data',
                               success: function(response) {
                                   alert('You did it, File uploaded ' + response)
                               },
                               error: function(jqXHR, textStatus, errorMessage) {
                                   console.log(errorMessage); // Optional
                               }
                            });
                    }
                }
        }
        uploadFile(file_upload, fileName);

        function returnFileSize(number) {
            if(number < 1024) {
                return number + 'bytes';
            } else if(number > 1024 && number < 1048576) {
                return (number/1024).toFixed(1) + 'KB';
            } else if(number > 1048576) {
                return (number/1048576).toFixed(1) + 'MB';
            }
        }
    </script>
{% endblock %}

{% endblock %}
