{%- block html -%}
    <head>

        {%- block head %}
        <title>{% block title %}TED&sup2{% endblock title %}</title>

        {%- block metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock metas %}

        {%- block styles %}
        <link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/static/css/bootstrap-select.css" rel="stylesheet">
        <link href="/static/css/bootstrap-4.0.0-alpha.5/bootstrap-flex.min.css" rel="stylesheet" />
        <link href="/static/css/bootstrap-4.0.0-alpha.5/bootstrap-grid.min.css" rel="stylesheet" />
        <link href="/static/css/bootstrap-4.0.0-alpha.5/bootstrap-reboot.min.css" rel="stylesheet" />
        <link href="{{ current_user.theme }}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <link href="/static/css/cs-sidebar.css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-4.0.0-alpha.5/bootstrap.min.css" rel="stylesheet" />
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

        <style type="text/css">
            /* Override modal-lg width */
            .modal-lg {
                max-width: 1270px;
            }
        </style>
        {%- endblock styles %}

        {%- endblock head %}

        <script src="/static/js/jquery-1.12.4.js"></script>
        <script>
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });

        </script>
        <!-- Bootstrap 4 requires tether -->
        <script src="/static/tether/1.4.0/tether.min.js"></script>
        <script src="/static/js/bootstrap-4.0.0-alpha.5/bootstrap.min.js"></script>
        <!--
        <script src="/static/datatables/1.10.15/js/jquery.dataTables.js"></script>
        <script src="/static/datatables/1.10.15/js/dataTables.bootstrap4.js"></script>
        <script src="/static/datatables/1.10.15/js/dataTables.responsive.min.js"></script>
        <script src="/static/datatables/1.10.15/js/responsive.bootstrap4.min.js"></script>
        -->
        <script src="/static/js/fileinput.min.js" type="text/javascript"></script>
        <script src="/static/js/bootbox.min.js" type="text/javascript"></script>
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>

    </head>

    <body style="padding-top: 70px;">
    {% block body -%}
        {% block navbar %}
                <nav class="navbar navbar-inverse navbar-expand-xs navbar-fixed-top">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">TED&sup2</a>
                    </div>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="nav navbar-nav">
                              <li class="nav-item">
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAlertModal">
                                      New Alert
                                  </button>
                              </li>
                              <li class="nav-item" role="button">
                                  <a class="nav-link" onclick="cleaner('events')">Clear Events</a>
                              </li>
                              <li class="nav-item" role="button">
                                  <a class="nav-link" onclick="cleaner('tickets')">Clear Tickets</a>
                              </li>
                              <li class="nav-item" role="button">
                                  <a class="nav-link" onclick="refreshTable()">Refresh</a>
                              </li>
                              <li class="nav-item" role="button">
                                  <a class="nav-link" href="/coralapp/ted/actions">Manage Actions</a>
                              </li>
                              <li class="nav-item" role="button">
                                  <a class="nav-link" href="/coralapp/ted/enrichments">Manage Enrichments</a>
                              </li>

                          </ul>
                      </div>
                  </div>
                </nav>


        {% endblock navbar %}
        {% block content %}

        <!-- Send Alert to EM7 Modal -->
        <div class="modal fade" id="newAlertModal" tabindex="-1" role="dialog" aria-labelledby="newAlertModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newAlertModalLabel">New Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:10px;">
                        <form id="form_new_alert" class="px-auto py-auto" action="/coralapp/ted/send_alert_to_em7" method='post'>
                            <div class="form-group">
                                <label for="did">Device</label>
                                <input type="text" class="form-control" name="did" id="did" placeholder="Device ID" value="1">
                            </div>
                            <div class="form-group">
                                <label for="alert_message">Message</label>
                                <input type="text" class="form-control input-lg" name="alert_message" id="alert_message" placeholder="Alert Message" value="TED: Test Event - 61CCC29796FA39F3D4C591DCAB71D7DC">
                            </div>
                            <button type="submit" class="btn btn-primary">Send Alert</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Action Create Modal -->
        <div class="modal fade" id="newActionModal" tabindex="-1" role="dialog" aria-labelledby="newActionLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newActionLabel">New Actions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Discard">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:10px;">
                        <form id="form_new_action" class="px-auto py-auto" action="/coralapp/ted/add_edit_action" method='post'>
                            <div class="form-group">
                                <label for="action_field_id">Action </label>
                                <input type="text" class="form-control" name="action_field_id" id="action_field_id" placeholder="Action ID">
                            </div>
                            <div class="form-group">
                                <label for="action_field_description">Description</label>
                                <input type="text" class="form-control input-lg" name="action_field_description"
                                id="action_field_description" placeholder="Action Description" value="">

                                <label for="action_field_action_type">Action_Type</label>
                                <input type="text" class="form-control input-lg" name="action_field_action_type"
                                id="action_field_action_type" placeholder="Type of Action" value="">

                                <label for="action_field_method">Method</label>
                                <input type="text" class="form-control input-lg" name="action_field_method"
                                id="action_field_method" placeholder="Method for adding to Ticket" value="">

                                <label for="action_field_run_async">Run Async</label>
                                <input type="text" class="form-control input-lg" name="action_field_run_async"
                                id="action_field_run_async" placeholder="Synchronous or Asynch Processing" value="">

                                <label for="action_field_spec">Spec</label>
                                <input type="text" class="form-control input-lg" name="action_field_spec"
                                id="action_field_spec" placeholder="Code to Execute" value="">

                                <label for="action_field_tokens">Description</label>
                                <input type="text" class="form-control input-lg" name="action_field_tokens"
                                id="action_field_tokens" placeholder="Pre Execution Tokens(Actions))" value="">

                                <label for="action_field_parser">Parser</label>
                                <input type="text" class="form-control input-lg" name="action_field_parser"
                                id="action_field_parser" placeholder="Pre Execution Parser" value="">

                                <label for="action_field_extensions">Extensions</label>
                                <input type="text" class="form-control input-lg" name="action_field_extensions"
                                id="action_field_extensions" placeholder="Extensions" value="">
                            </div>
                            <button type="submit" class="btn btn-primary">Save Action</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Enrichment Create Modal -->
        <div class="modal fade" id="newEnrichmentModal" tabindex="-1" role="dialog" aria-labelledby="newEnrichmentLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newEnrichmentLabel">New Enrichment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Discard">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:10px;">
                        <form id="form_new_enrichment" class="px-auto py-auto" action="/coralapp/ted/add_edit_enrichment" method='post'>
                            <div class="form-group">
                                <label for="enrichment_field_id">Enrichment </label>
                                <input type="text" class="form-control" name="enrichment_field_id" id="enrichment_field_id"
                                placeholder="Enrichment ID">
                            </div>
                            <div class="form-group">
                                <label for="enrichment_field_description">Description</label>
                                <input type="text" class="form-control input-lg" name="enrichment_field_description"
                                id="enrichment_field_description" placeholder="Enrichment Description" value="">

                                <label for="enrichment_field_event_policy_guid">Event Policy GUID</label>
                                <input type="text" class="form-control input-lg" name="enrichment_field_event_policy_guid"
                                id="enrichment_field_event_policy_guid" placeholder="Event Policy GUID" value="">

                                <label for="enrichment_field_event_policy_name">Event Policy Name</label>
                                <input type="text" class="form-control input-lg" name="enrichment_field_event_policy_name"
                                id="enrichment_field_event_policy_name" placeholder="Event Policy Name" value="">

                                <label for="enrichment_field_actions">Actions</label>
                                <input type="text" class="form-control input-lg" name="enrichment_field_actions"
                                id="enrichment_field_actions" placeholder="List of Action Ids to execute and output to ticket" value="">

                                <label for="enrichment_field_notes">Notes</label>
                                <input type="text" class="form-control input-lg" name="enrichment_field_notes"
                                id="enrichment_field_notes" placeholder="Overide default output style in ticket" value="">

                                <label for="enrichment_field_supported_devices">Supported Devices</label>
                                <input type="text" class="form-control input-lg" name="enrichment_field_supported_devices"
                                id="enrichment_field_supported_devices" placeholder="Devices this enrichment can be run on" value="">

                                <label for="enrichment_field_extensions">Extensions</label>
                                <input type="text" class="form-control input-lg" name="enrichment_field_extensions"
                                id="enrichment_field_extensions" placeholder="Extensions" value="">
                            </div>
                            <button type="submit" class="btn btn-primary">Save Enrichment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Modal Blocks -->

            <div id="main">
                <div id="flash"></div>
                <div class="flex-container" style="margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:10px; width:95%;" >
                    <table id="active_events" class="display" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Ticket ID</th>
                                <th>Device ID</th>
                                <th>Event Policy</th>
                                <th>Last Trig.</th>
                                <!-- <th>Has Notes/Attachments</th> -->
                                <th>Clear</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <script>
                    $(document).ready(function() {

                        <!-- TED Alert to EM7 Triggered Function -->
                        $('#form_new_alert').submit(function(event) {
                            $('#newAlertModal').modal('hide')

                            // get the form data
                            var formData = {
                                'did'              : $('input[name=did]').val(),
                                'alert_message'             : $('input[name=alert_message]').val()
                            };

                            // process the form
                            $.ajax({
                                type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                                url         : '/coralapp/ted/send_alert_to_em7', // the url where we want to POST
                                data        : formData, // our data object
                                success: flashJS
                            });

                            // stop the form from submitting the normal way and refreshing the page
                            event.preventDefault();
                            setTimeout(refreshTable(), 3000);
                        });

                        <!-- Action Modal Form Processor -->
                        $('#form_new_action').submit(function(event) {
                            $('#newActionModal').modal('hide')

                            // get the form data
                            var formData = {
                                'id'              : $('input[name=action_field_id]').val(),
                                'description'             : $('input[name=action_field_description]').val(),
                                'action_type'             : $('input[name=action_field_action_type]').val(),
                                'method'              : $('input[name=action_field_method]').val(),
                                'run_async'             : $('input[name=action_field_run_async]').val(),
                                'spec'              : $('input[name=action_field_id]').val(),
                                'tokens'             : $('input[name=action_field_tokens]').val(),
                                'parser'              : $('input[name=action_field_parser]').val(),
                                'extensions'             : $('input[name=action_field_extensions]').val()
                            };

                            // process the form
                            $.ajax({
                                type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                                url         : '/coralapp/ted/add_edit_action', // the url where we want to POST
                                data        : formData, // our data object
                                success: flashJS
                            });

                            // stop the form from submitting the normal way and refreshing the page
                            event.preventDefault();
                            setTimeout(refreshTable(), 3000);
                        });


                        <!-- Enrichment Modal Form Processor -->
                        $('#form_new_enrichment').submit(function(event) {
                            $('#newEnrichmentModal').modal('hide')

                            // get the form data
                            var formData = {
                                'id'              : $('input[name=enrichment_field_id]').val(),
                                'description'             : $('input[name=enrichment_field_description]').val(),
                                'event_policy_guid'              : $('input[name=enrichment_field_event_policy_guid]').val(),
                                'event_policy_name'             : $('input[name=enrichment_field_event_policy_name]').val(),
                                'actions'              : $('input[name=enrichment_field_actions]').val(),
                                'clear_event_policy'             : $('input[name=enrichment_field_clear_event_policy]').val(),
                                'notes'             : $('input[name=enrichment_field_notes]').val(),
                                'supprted_devices'              : $('input[name=enrichment_field_supprted_devices]').val(),
                                'extensions'             : $('input[name=enrichment_field_extensions]').val()

                            };

                            // process the form
                            $.ajax({
                                type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                                url         : '/coralapp/ted/add_edit_enrichment', // the url where we want to POST
                                data        : formData, // our data object
                                success: flashJS
                            });

                            // stop the form from submitting the normal way and refreshing the page
                            event.preventDefault();
                            setTimeout(refreshTable(), 3000);
                        });

                        $('#active_events tfoot th').each( function () {
                            var title = $(this).text();
                            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
                        } );

                        var table = $('#active_events').DataTable( {
                            "processing": true,
                            "serverSide": true,
                            "ajax": {
                                url: "/coralapp/ted/active_em7_events",
                                type: "POST"
                            },
                            dom: 'lBftrip',
                            buttons: [
                                'excelHtml5'
                            ],
                            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                            fixedHeader: true,
                            "columns": [
                                { "name": "message", "data": "message", "class": "searchable" },
                                { "name": "associated_ticket", "data": "tid", "class": "searchable" },
                                { "name": "aligned_resource/device", "data": 'did', "class": "searchable" },
                                { "name": "event_policy", "data": 'event_policy', "class": "searchable" },
                                { "name": "date_last", "data": "date_last", "searchable": false, "orderable": true },
                                // { "name": "has_notes_attachments", "data": "has_notes_attachments", "searchable": true, "orderable": true },
                                { "name": "clear",  "data": "clear", "searchable": false, "orderable": false }
                            ],

                        } );

                        setInterval( function () { // automatically reload the table every 10 seconds
                            table.ajax.reload( null, false ); // user paging is not reset on reload
                        }, 100000000 );
                    } );



                    var flashMessage = function(message, type){
                        html = '';
                        html += '<div class="alert alert-' + type + '" style="margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:10px; width:95%;"><a href="#" class="close" data-dismiss="alert">&times;</a>' + message + '</div>';
                        return html;
                    };

                    var flash_timeout_id;
                    function flashJS(data) {
                        // console.log("Clearing timeout " + flash_timeout_id)
                        clearTimeout(flash_timeout_id); // Clear the previous timeout if still active
                        // console.log("Showing flash alert");
                        var parsed_data = JSON.parse(data);
                        $('#flash').html(flashMessage(parsed_data.message, parsed_data.status));
                        flash_timeout_id = setTimeout("$('#flash').html('')", 5000)
                        // console.log("Flashing message. Timeout " + flash_timeout_id +" set to 5 seconds.")
                    };

                    function refreshTable() {
                        $('#active_events').DataTable().ajax.reload( null, false );
                    };

                    function cleaner(what, id) {
                        if( id === undefined) {
                            console.log("Clearing " + what + "...");
                            $.ajax({
                                type: "GET",
                                url: "/coralapp/ted/cleaner?what=" + what,
                                success: flashJS,
                                complete: refreshTable
                            });
                        } else {
                            console.log("Clearing " + what + "(" + id + ")...");
                            $.ajax({
                                type: "GET",
                                url: "/coralapp/ted/cleaner?what=" + what + "&id=" + id,
                                success: flashJS,
                                complete: refreshTable
                            });
                        }
                    };


                </script>
            </div>

        {%- endblock content %}

    {%- endblock body %}
    </body>

{%- endblock html %}
