{% block head %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block styles %}
{{ super() }}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
{% endblock %}
{% endblock %}

{% block page_content %}

<div class="container-fluid">

<a class="btn btn-dark btn-md" href='/coralapp/tes/app_settings' role="button">
    <span><i class="fa fa-fw fa-cogs"></i> Settings </span>
</a>


<div class="container-fluid">
<div class="card-deck">

<div class="container-fluid">
            <div class="row">
                <div class="card">
                    <h2 class="card-title"><span class="fa-li"><i class="fa fa-key fa-md fa-pull-left fa-border"></i></span> Basic Links</h2>
                    <ul class="fa-ul">
                <li class="card-link"><span class="fa-li"><i class="fa fa-check-square"></i></span><a href="/coralapp/tes">Main Home</a></li>
                        <li class="card-link"><span class="fa-li"><i class="fa fa-check-square"></i></span><a href="/coralapp/tes/temporary_homepage">LogView</a></li>
                    </ul>
                </div>
            </div>
</div>

<div class="container-fluid">
            <div class="row">
            <div class="card">
            <h3 class="card-title"><span class="fa-li"><i class="fa fa-bank fa-md fa-pull-left fa-border"></i></span> Update TES Engine Catalog</h3>

            <div class="col-md-6">
            <form method="post" action="/coralapp/tes/import_file" enctype="multipart/form-data">
                <div>
                    <fieldset>
                        <legend>Import File Types of Choice to load your new Enrichments</legend>
                        <ul>
                        <label for="yaml">YAML</label>
                        <input type="radio" name="file_type" id="yaml" value=".yml">
                        <label for="json">JSON</label>
                        <input type="radio" name="file_type" id="json" value=".json">
                        <input type="file" id="selection_uploads" name="selection_uploads" accept=".yml, .yaml, .json" multiple>
                        </ul>
                    </fieldset>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-default">Clear Selected Files</button>

                </div>
            </form>
            </div>
            </div>
            </div>
</div>

<p>
<hr>
</p>

<div class="container-fluid">
<div class="row">
    <div class="card-deck">
        <span class="fa-li"><i class="fa fa-file fa-md fa-pull-left fa-border"></i></span>

            <div class="card">
            <h4 class="card-title">Actions</h4>
            <div class="col-md-6">
            <form id="actionupload">
            <ul>

                <div class="button btn-outline-default btn-md">
                    <h5><label for="action_uploads"> Load YAML Actions to Associate</label></h5>
                    <input type="file" id="action_uploads" name="action_uploads" accept=".yml, .yaml, .json" multiple>
                </div>
                <div class="button btn-outline-default btn-md">
                    <button type="submit" class="btn btn-small btn-success">Submit</button>
                    <button type="reset" class="btn btn-small btn-default">Reset Selected</button>
                </div>

            </ul>
            </form>
            </div>
        </div>
            <div class="card">
            <h4 class="card-title">Enrichments</h4>
            <div class="col-md-6">
            <form id="enrichmentupload">
                <ul>

                <div class="button btn-outline-default  btn-md">
                    <h5><label for="enrichment_uploads"> Load an Associated YAML Enrichment</label></h5>
                    <input type="file" id="enrichment_uploads" name="enrichment_uploads" accept=".yml, .yaml, .json">
                    <input type="text" id="event_policy_guid" name="event_policy_guid" placeholder="GUID to Associate Actions to:  ">
                </div>
                <div class="button btn-outline-default  btn-md">
                    <button type="submit" class="btn btn-small btn-success">Submit</button>
                    <button type="reset" class="btn btn-small btn-default">Reset</button>
                </div>

                </ul>
            </form>
            </div>
            </div>
        </div>

</div>
</div>


</div>
</div>

<div class="container-fluid">
<div class="card-deck">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                <h3 class="card-title"><span class="fa-li"><i class="fa fa-flask fa-md fa-pull-left fa-border"></i></span> Access Frontend Developer Tools TED</h3>
                        <ul class="fa-ul">
                            <li class="card-link"><span class="fa-li"><i class="fa fa-check-square"></i></span><a href="/coralapp/ted" title="Link to TED tool">TED</a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="preview_upload">
                <p>No files currently selected for upload</p>
            </div>
        </div>

</div>
</div>

{% block scripts %}
    {{ super() }}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        let fileTypes = [
            'application/json',
            'application/x-yaml',
            'text/yaml'
            ];

        let file_upload = $('#action_uploads')[0].files[0];
        let fileName = 'SomeActionname.yml';
        function uploadFile(file_upload, fileName) {
            for(let i = 0; i < fileTypes.length; i++) {
                if(file_upload.type === fileTypes[i]) {
                    let fd = new FormData();
                    fd.append("fileToUpload", file_upload);
                            $.ajax({
                               url: "/coralapp/tes/import_file",
                               type: "POST",
                               data: fd,
                               cache: false,
                               filename: fileName,
                               contentType: 'multipart/form-data',
                               success: function(response) {
                                   alert('You did it, File uploaded ' + response)
                               },
                               error: function(jqXHR, textStatus, errorMessage) {
                                   console.log(errorMessage); // Optional
                               }
                            });
                    }
                }
        }
        uploadFile(file_upload, fileName);

        function returnFileSize(number) {
            if(number < 1024) {
                return number + 'bytes';
            } else if(number > 1024 && number < 1048576) {
                return (number/1024).toFixed(1) + 'KB';
            } else if(number > 1048576) {
                return (number/1048576).toFixed(1) + 'MB';
            }
        }
    </script>


    <script>
        let fileTypes = [
            'application/json',
            'application/x-yaml',
            'text/yaml'
            ];

        let file_upload = $('#enrichment_uploads')[0].files[0];
        let fileName = 'SomeEnrichmentname.yml';
        function uploadFile(file_upload, fileName) {
            for(let i = 0; i < fileTypes.length; i++) {
                if(file_upload.type === fileTypes[i]) {
                    let fd = new FormData();
                    fd.append("fileToUpload", file_upload);
                            $.ajax({
                               url: "/coralapp/tes/import_file",
                               type: "POST",
                               data: fd,
                               filename: fileName,
                               cache: false,
                               contentType: 'multipart/form-data',
                               success: function(response) {
                                   alert('You did it, File uploaded ' + response)
                               },
                               error: function(jqXHR, textStatus, errorMessage) {
                                   console.log(errorMessage); // Optional
                               }
                            });
                    }
                }
        }
        uploadFile(file_upload, fileName);

        function returnFileSize(number) {
            if(number < 1024) {
                return number + 'bytes';
            } else if(number > 1024 && number < 1048576) {
                return (number/1024).toFixed(1) + 'KB';
            } else if(number > 1048576) {
                return (number/1048576).toFixed(1) + 'MB';
            }
        }
    </script>
{% endblock %}

{% endblock %}
