/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

@import "ui-variables";
@import "syntax-variables";

/// Hydrogen styles
@import "./packages/Hydrogen/styles/hydrogen.less";
@hydrogen-light-background
@hydrogen-dark-background
@hydrogen-inline-background
@hydrogen-inline-color
@hydrogen-error-color

.hydrogen {
  .multiline-container {
    .toolbar .icon:hover {
      background-color: @background-color-selected;
    }
    .cell_display {
      background-color: @background-color-highlight;
    }
  }
}
/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
    // font-family: fira-mono;
    font-family: Source Code Pro;
    // font-family: FiraCode;
     // font-family: Code New Roman;

}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  border-color: red;
}

// atom-workspace {
//     font-family: Mononoki;
// }
